snippet for
	for (var i = 0; i < ${1}.${2:length}; i++) {
	}
snippet fun
	function ${1}(${2}) {
	}
snippet desc
	describe('${1:spec}', function () {
	})
snippet it
	it('${1:test}', function (${2}) {
	})
snippet INH
	prototype = Object.create(${1:Parent}.${2:prototype})
